div{
    margin-left: 95px;
    margin-top: 70px;
    float: left;
}

input{
    width:50px; 
    height:15px; 
    text-align: center; 
    float:center;
    border-radius: 5px 5px;   
}

.cal{
    border: none; 
    height: 10px;
    width: 10px; 
    background-color:azure; 
    transform: translate(-40px,3px);
}

::placeholder{
    text-align: left;
    text-indent: 15px;
}

.hb{
    height: 25px; 
    width:150px; 
    border-radius: 50px 55px;
    margin-left: 170px;
}

.bh{
    margin-left:625px;
    margin-top: 70px;
}

.progress{
    width: 524px;
    margin-left: 375px;
}
